<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <img src="https://scontent.fsjc1-1.fna.fbcdn.net/hphotos-xft1/v/t1.0-9/11039097_943315285690106_5502515958183663002_n.jpg?oh=20e6ee6f3e48e65f6131695abaf8b06f&oe=562D2D16">
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
